.topic {
    background-color:#fff;
    font-size: 16px;
}

.toc-h2 {
    font-size: 13px;
}
.toc-h3 {
    font-size: 13px;
}

h2 {
    margin: 1.5rem 0 1.05rem;
}

.simple li p {
    margin-bottom: 0.1em;
}